In [18]:
import pandas as pd

In [27]:
room_df = pd.read_excel("room_reservations.xls")
test_room_df = pd.read_excel("Test_1.xls")
room_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,Report:,NaN,NaN,AllOrdersByDate.rpt,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Run Date:,NaN,NaN,NaN,NaN,2020-04-06 00:00:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Scope:,NaN,NaN,All Service Providers,NaN,NaN,NaN,NaN,NaN,...,NaN,Run Time:,NaN,NaN,NaN,NaN,NaN,14:42:28,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Range:,NaN,NaN,04/01/2019 - 04/30/2020,NaN,NaN,NaN,NaN,NaN,...,NaN,User Name:,NaN,NaN,NaN,NaN,NaN,Receptionist,NaN,NaN

In [26]:
room_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,Report:,NaN,NaN,AllOrdersByDate.rpt,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Run Date:,NaN,NaN,NaN,NaN,2020-04-06 00:00:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Scope:,NaN,NaN,All Service Providers,NaN,NaN,NaN,NaN,NaN,...,NaN,Run Time:,NaN,NaN,NaN,NaN,NaN,14:42:28,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Range:,NaN,NaN,04/01/2019 - 04/30/2020,NaN,NaN,NaN,NaN,NaN,...,NaN,User Name:,NaN,NaN,NaN,NaN,NaN,Receptionist,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sales Tax:,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
65498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Order Total:,NaN,NaN,NaN,NaN,NaN,NaN,0
65501,NaN,Totals do not include items marked as Market P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
test_room_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,Report:,NaN,NaN,AllOrdersByDate.rpt,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Run Date:,NaN,NaN,NaN,NaN,2020-04-06 00:00:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Scope:,NaN,NaN,All Service Providers,NaN,NaN,NaN,NaN,NaN,...,NaN,Run Time:,NaN,NaN,NaN,NaN,NaN,16:14:45,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Range:,NaN,NaN,03/29/2020 - 04/04/2020,NaN,NaN,NaN,NaN,NaN,...,NaN,User Name:,NaN,NaN,NaN,NaN,NaN,Receptionist,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,NaN,Totals do not include items marked as Market P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,Powered By PeopleCube Resource Scheduler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Page 1 of 1,NaN,NaN,NaN,NaN,NaN,NaN